* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: rgb(234, 231, 222);
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
